.counters-list {
  list-style: none;
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 160%;
}


.counters-list__item {
  text-align: center;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.counters-list__link {
  display: block;
  min-width: 100px;
  height: 80px;
  padding: 15px;
  color: #000000;

  &--disabled {
    color: #c4c4c4;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:not(&--disabled) {
    background-color: #f1f1f1;
  }
}

.counters-list__number {
  font-size: 24px;
}

.counters-list__label {
  font-size: 12px;
}

@media (min-width: 610px) {
  .counters-list__item {
    text-align: center;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  .counters-list__link {
    display: block;
    min-width: 180px;
  }
}
