.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  max-width: 1275px;
  margin: 0 auto;
  height: 100%;
}

.main-content__user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}