.section {
  padding: 30px 45px;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  max-width: 810px;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &--top-left-corner-rounded {
    border-radius: 5px 0 0 0;
  }

  &--top-right-corner-rounded {
    border-radius: 0 5px 0 0;
  }
}
