@import "variables";

.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs__list-btn {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  flex: 0;
}

.tabs__content {
  display: none;
  height: 100%;
  min-height: 0;
  flex-direction: column;

  &--active {
    display: flex;
  }
}

.tabs__btn {
  position: relative;
  display: block;
  min-width: 140px;
  font-size: 16px;
  font-family: $font-family;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-bottom: 4px solid transparent;
  cursor: pointer;

  &--disabled {
    color: #f1f1f1;
    cursor: default;
    pointer-events: none;
  }

  &--active {
    pointer-events: none;
    border-bottom: 4px solid #f1f1f1;
    z-index: 1;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:not(&--disabled) {
    background-color: #f1f1f1;
  }
}


@media (min-width: 600px) {
  .tabs__btn {
    min-width: 270px;
  }
}