.user-tabs {
  flex-direction: column;
  margin-bottom: 15px;
  padding-top: 15px;

  &--posts-content {
    height: 100%;
    min-height: 0;
    margin-bottom: 0;
  }
}

.user-tabs .tabs {
  margin: 0 -45px 0;
}

.user-tabs .tabs__list-btn {
  border-bottom: 1px solid #e5e5e5;
}

.user-tabs .friends__filter {
  margin-left: auto;
  margin-bottom: 15px;
}

.user-tabs .custom-scroll {
  padding-right: 45px;
}